/* All Scope By Me, Khalidy Safar - Checkup My GitHub and LinkedIN*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image: linear-gradient(100deg, rgb(0, 0, 0), rgba(11, 93, 235, 0.96)); 
    position: static;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    height: fit-content;
    align-items: center;
}

h1{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.root_page{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    text-align: center;
}

.insider{
    right: 0;
    z-index: 9999;
    display: block;
    height: fit-content;
    border-radius: 20px;
    width: 97.5%;
    border: none;
}

ul {
    color: rgb(255, 255, 255);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(0, 0, 0);
    top: 0;
    width: 100%;
    border-radius: 50px 15px;
    border: none;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    /* color: rgb(255, 255, 255); */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(11, 93, 235, 0.96);
}

li h1 {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.rcorners3 {
    background-color: transparent;
    padding: 20px;
    width: 100%;
    height:fit-content;
    align-items: center;
    color: rgb(255, 255, 255);
}

li h3{
    text-align: center;
    padding: 14px 16px;
}
footer{ 
    border-radius: 15px, 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;  
    flex-direction: column;  
    align-items: center;  
    color:rgb(255, 255, 255);  
} 
.footer1{  
    display: flex;  
    width:100%;  
    justify-content:space-evenly;  
    align-items: center;  
    text-decoration: none;  
    flex-wrap: wrap;  
}  
.footer1 .heading {  
    font-weight: 900;  
    font-size: 18px;  
}  
.footer2 {  
    margin-top:60px;  
    margin-bottom: 20px;  
    display:flex;  
    flex-wrap: wrap;  
    justify-content: center;  
}  
.footer1 .heading:hover{  
    color:rgb(0, 0, 0) ;  
}  
.footer1 .div:hover{  
    transform: scale(1.05);  
}  
.footer1 div{  
    margin:10px;  
}  
.footer2 h4{  
    margin:0 10px;  
}
.image:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.cardolas-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #ffffff;
}

.cardolas-column {
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgba(11, 93, 235, 0.96);
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cardolas-row {
    display: flex;
}

.cardolas-item {
    width: 45%;
}

.cardolas-preco {
    width: 15%;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}

.cardolas-subtot{
    width: 20%;
}

.cardolas-quantidade {
    width: 20%;
}

.cardolas-item-title {
    color: rgb(255, 255, 255);
    margin-left: .5em;
    font-size: 1.2em;
}

.cardolas-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cardolas-quantidade-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cardolas-row:last-child {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.cardolas-row:last-child .cartao-column {
    border: none;
}

.cardolas-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cardolas-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    margin-right: 20px;    
    font-size:medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardolas-total-price {
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}

.button{
    text-align: center;
    vertical-align: middle;
    padding: 30px 20px;
    cursor: pointer;
}

.button-primary {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: .3em;
    font-weight: bold;
    transition: all .2s;
}

.button-primary:hover {
    background-color:  rgba(11, 93, 235, 0.96);
}
.card .button-area{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top:20px ;
}

.card .button-area button{
    background: rgba(11, 93, 235, 0.96);
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    padding: 9px 22px;
    font-weight: bold;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s ease;
    cursor:pointer
}

.button-area button:hover {
    background-color:  rgba(0, 0, 0, 0.96);
    border-radius: 15px, 35px;
}

section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 50px;
    padding: 3px;
    background: rgba(11, 93, 235, 0.96);
}
section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
    border: 3px solid rgb(255, 255, 255);
}
.content-body{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    position: relative;
    background: white;
    border-radius: 20px;
    margin: 20px 0;
    width: 550px;
}

.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100%;
}

.card .product-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: rgba(11, 93, 235, 0.96);
}

.product-name .name{
    font-size:20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
}

.product-name .description{
    font-size:8px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.swiper{
    width: 740px;
    height: 450px;
}

.containerP{
    position: relative;
    height: 450px;
    width: 750px;
    display: flex;
    align-items: center;
}

.input_number{
    width: 50px;
    height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(11, 93, 235, 0.96);
    border: none;
    border-radius: 20px;
    background-color: transparent;
}

.input_number2{
    width: 50px;
    height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(255, 255, 255, 0.96);
    border: none;
    border-radius: 20px;
    background-color: transparent;
}

.mystuff{
    width: 50px;
    height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(11, 93, 235, 0.96);
    border: none;
    border-radius: 20px;
    background-color: transparent;
}

.button-remove{
    height: 10px;
    width: 10px;
    cursor: pointer;
}

.total-cenas{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: medium;
    text-align: center;
}